* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 5;
    padding: 5;
    font-family: sans-serif;
    background-image: url("../src/image/background.jpg");
  }
  
  .main-bg-color {
    background-color: aquamarine;
    border: solid 1px;
  }